/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* main */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-size: 14px;
}

/* slick css*/
.slick-arrow {
  display: none !important;
}

.slider-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.slick-dots:not(.main .slick-dots) {
  height: 100%;
  top: 100%;
}

.slick-dots li:not(.main .slick-dots li)  {
  width: 20% !important;
  height: 20% !important; 
}


/*card css*/
.card {
  overflow: hidden;
}

.card button {
  transform: translateY(200%);
  transition: 0.5s;
}

.card:hover button {
  transform: translateY(-20%);
}



/*search part*/
.search-dropdown {
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}


