/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* main */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-size: 14px;
}

/* slick css*/
.slick-arrow {
  display: none !important;
}

.slider-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.slick-dots:not(.main .slick-dots) {
  height: 100%;
  top: 100%;
}

.slick-dots li:not(.main .slick-dots li)  {
  width: 20% !important;
  height: 20% !important; 
}


/*card css*/
.card {
  overflow: hidden;
}

.card .fa-heart {
  left: 100%;
  bottom: 90%;
  transition: 0.5s;
  cursor: pointer;
}

.card:hover .fa-heart {
  left: 80%;
}

.card button {
  transform: translateY(200%);
  transition: 0.5s;
}

.card:hover button {
  transform: translateY(-20%);
}

/*Skeleton Effect*/
.skeleton {
  background: linear-gradient(
    90deg,
    #eaeaea 25%,
    #f5f5f5 37%,
    #eaeaea 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
  border-radius: 6px;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

/* Image */
.skeleton-img {
  height: 300px;
  width: 100%;
  border-radius: 8px;
}

/* Text */
.skeleton-text {
  height: 16px;
  width: 100%;
}

.skeleton-text.small {
  width: 65%;
  margin: auto;
}

/* Price */
.skeleton-price {
  height: 18px;
  width: 40%;
}

/* Heart icon */
.skeleton-heart {
  top: 12px;
  right: 12px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

/* Button */
.skeleton-btn {
  height: 38px;
  width: 100%;
  border-radius: 8px;
}


.skeleton-circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.skeleton-text.small {
  height: 12px;
  width: 60px;
}

.skeleton-carousel {
  height: 400px;
  border-radius: 8px;
    background: linear-gradient(
    90deg,
    #eee 25%,
    #f5f5f5 37%,
    #eee 63%
  );
  animation: shimmer 1.4s ease infinite;
  border-radius: 6px;
}



@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}


/*Admin Part*/
.kpi-card {
  transition: transform .2s ease, box-shadow .2s ease;
}

.kpi-card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 20px rgba(0,0,0,0.08);
}




/*search part*/
.search-dropdown {
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 700px) {
    .error img {
      width: 100% !important;
      height: 400px;
    }

    .error {
      margin-top: 20px !important;
    }
}